.cardSkeleton{
    display: flex;
    justify-content: center;

    max-width: 192px;
    text-align: center;
    border-radius: 8px;

    position: relative;
    padding-bottom: 14px;

  .image{
    margin-top: -24px;
  }

  .title{
    margin-top: 14px;
    font-weight: 500;
  }
  .content{
    max-width: 144px;
    text-align: center;
  }

  .cardInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 14px;
  }

}