.small{
  font-size: var(--font-small)
}

.medium{
  font-size: var(--font-medium);
}

.large{
  font-size: var(--font-large);
}

.xl{
  font-size: var(--font-xl);
}



.primary{
  color: var(--text-lighter);
}

.secondary{
  color: var(--text-gray);
}

.white{
  color: var(--white);
}